@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
}
p, li {
    line-height: 1.5;
}
h1, nav, .content h1, .home-grid h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#intro, header, .content-grid li {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  header h1 {
    font-family: "Roboto", sans-serif;
    font-size: 400%;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  header h3 {
    font-size: 80%;
    margin-top: 0;
    padding-top: 0;
    font-weight: 700;
  }
#intro {
    margin: 2rem 0;
    padding: 2rem 0;
}
.content-grid {
    padding-top: 2rem;
}
#content h1, #content h2 {
    color: azure;
}
#content {
    background-color: #102e50;
    color: #e5e7eb;
    box-sizing: border-box;
}
nav a {
    color: #e5e7eb;
    text-decoration: none;
    display: block;
    margin-left: 1rem;
    padding-top: 1rem;
}
nav a:hover {
    text-decoration: underline;
}
header {
    display: block;
    position: fixed;
    float: left;
    width: 50%;
    height: 100%;
    margin: 10%;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}
.home-grid {
    width: 50%;
    position: relative;
    float: right;
    padding: 0 3rem;
}
#content:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive CSS styling*/
@media only screen and (max-width:600px){
    #content {
        width: 100%;
    }
    header {
        width: 25%;
        font-size: 50%;
    }
    .home-grid {
        width: 50%;
        font-size: 75%;

    }
}
@media only screen and (min-width:600px){
     #content {
        width: 100%;
    }
    header {
        width: 25%;
        font-size: 75%;
    }
    .home-grid {
        width: 50%;
        font-size: 90%;

    }
}
